ul {

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        height: 80px;
        width: 300px;
        margin: 5px;
        background: rgb(139, 184, 153);
        font-weight: bold;
        img {
            height: 60px;
            width: 60px;
        }
        input {
            width: 20px;
            height: 20px;
        }
    }
}